.app.dark {
    --bg-color: #282861;
    --inverted-bg-color: #b6b6e9;

    --primary-color: #019101;
    --secondary-color: #05b605;
    --inverted-primary-color: #0f22ce;
    --inverted-secondary-color: #5643fd;

    --n-bg-color: #0A2647;
    --n-inverted-bg-color: #2C74B3;
    --n-inverted-primary-color: #144272;
    --n-inverted-secondary-color: #205295;
}